NGINX_KV=secure/service/nginx/templates/mantlui
NGINX_AUTH_TYPE=basic
NGINX_AUTH_BASIC_KV=secure/service/nginx/auth/users
NGINX_PUBLIC_IP={{ private_ipv4 }}
CONSUL_CONNECT=consul.service.{{ consul_dns_domain }}:8500
CONSUL_TOKEN={{ consul_acl_secure_token }}
CONSUL_LOGLEVEL=warn
{% if do_consul_ssl|bool %}
CONSUL_SSL=true
CONSUL_SSL_VERIFY=false
{% endif %}
{% if do_mantlui_ssl|bool %}
MANTLUI_SSL=true
CERTFILE=/etc/nginx/ssl/nginx.cert
KEYFILE=/etc/nginx/ssl/nginx.key
{% endif %}
MANTLUI_AUTH=false
OPENAM_URL={{ openam_url }}
OPENAM_API={{ openam_api }}
OPENAM_LOGOUT={{ openam_logout }}
AGENT_URL={{ agent_url }}
AGENT_PROFILE_NAME= {{ agent_name }}
AGENT_PASSWORD={{ agent_pass }}
CONFIRM=y
