KEYSTORE_PASS={{ keystore_pass }}
CONSUL_CONNECT=consul.service.{{ consul_dns_domain }}:8500
CONSUL_TOKEN={{ consul_acl_secure_token }}
CONSUL_LOGLEVEL=warn
{% if do_consul_ssl|bool %}
CONSUL_SSL=true
{% endif %}
